<div class="grid" style="margin-top: 25px;">
    <div class="col-6 mt-2">
      <span class="p-float-label">
        <input id="lastName" type="text" class="p-inputtext-lg" pInputText/>
        <label for="lastName">First name</label>
      </span>
    </div>
    <div class="col-6 mt-2">
      <span class="p-float-label">
        <input id="lastName" type="text" class="p-inputtext-lg" pInputText/>
        <label for="lastName">Surname</label>
      </span>
    </div>
    <div class="col-6 mt-2">
      <span class="p-float-label">
        <input id="lastName" type="text" class="p-inputtext-lg" pInputText/>
        <label for="lastName">Phone number</label>
      </span>
    </div>
    <div class="col-6 mt-2">
      <span class="p-float-label">
        <span class="p-float-label">
          <p-inputMask style="width: 100%"  mask="99/99/9999" formControlName="dateOfBirth" class="p-inputtext-lg"  slotChar="dd/mm/yyyy"></p-inputMask>
          <label for="dateOfBirth">Date of birth</label>
        </span>
      </span>
    </div>
    <div class="col-12 mt-2">
      <span class="p-float-label">
        <input id="lastName" type="text" class="p-inputtext-lg" pInputText/>
        <label for="lastName">Address</label>
      </span>
    </div>
    <div class="col-12 mt-2">
      <span class="p-float-label">
        <input id="lastName" type="text" class="p-inputtext-lg" pInputText/>
        <label for="lastName">Iban</label>
      </span>
    </div>
    <div class="flex justify-content-end mt-2 px-2" style="width: 100%;">
      <button pButton>Save changes</button>
    </div>

</div>
